
/* Responsive CSS */

html, body, ul, li, h1, h2, h3, h4, h5, h6, img, p {
	color: #777;
	margin: 0;
	padding: 0;
	font-family: Arial;
}
body {
	font-size: 14px;
	letter-spacing: 0.2px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}
h2 {
	color: #E46965;
	font-size: 40px;
	font-weight: normal;
	margin: 15px 0;

}

.container {
	max-width: 900px;
	margin: 0 auto;
}


/* ***** Clear Fix */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}



/* ******* Navigation */

nav {
	background-color: #dadada;
	height: 50px;
}
.nav-list, .social-list {
	list-style: none;
}
.nav-list li, .social-list li {
	float: left;
}
.nav-list li {
	margin-right: 20px;
}
.nav-list {
	padding-top: 15px;
	float: left; /*sa ovim float: left smo sredili da padding nebude preko cele sirini jer na taj nacin i logoi padnu za padding dole*/
	/* background-color: red; */
}
.social-list {
	float: right;
	margin-top: 7px; /* mogli smo i padding da koristimo*/
}
.nav-list li a {
	color: #fff;
	text-decoration: none;
}
.social-list li {
	margin-left: 20px;
}

/* ******** Header */
header h1, header h3 {
	font-weight: normal;
	text-align: center;
}
header h1{
	font-size: 42px;
	margin-top: 25px;
}
header h3 {
	color: #E46965;
	margin-bottom: 30px;
}

/* ***** Feature section */
.feature {
	background-color: #363636;
}
.feature-list {
	background: url(../images/feature-bg.jpg) top center no-repeat;
	height: 300px;
	list-style: none;
}
.feature-list li {
	width: 33.333%;
	height: 300px;
	float: left;
	border-left: 2px solid #fff;
	box-sizing: border-box;
	text-align: center;
	padding-top: 100px;
}
.feature-list li:last-child {
	border-right: 2px solid #fff;
}
.feature-list li a {
	text-decoration: none;
}
.feature-title {
	color: #FF7F7F;
	opacity: 0.6;
	font-size: 26px;
	/*font-weight: normal;*/
	margin-top: 10px;

	transition: all .5s;
}
.feature-list li a:hover .feature-title{
	opacity: 1;

}
/* ***** Portfolio */

.portfolio-samples {
	background-color: #dadada;
	margin-top: 20px;
	padding: 5px 0px 20px 0px;
}
.portfolio-list {
	list-style: none;
}
.portfolio-list li {
	background-color: #555; /*samo kao rezerva u slucaju da nema slika*/
	width: 210px;
	height: 210px;
	float: left;
	margin-right: 20px;
	position: relative;

}
.portfolio-list li:last-child {
	margin-right: 0;
}
.port-laptops {
	background: url(../images/laptops.jpg) center center no-repeat;
}
.port-acme {
	background: url(../images/alogo.jpg) -200px -10px no-repeat;
}
.port-demoreel {
	background: url(../images/acmelogo.jpg) center center no-repeat;
}
.port-logo {
	background: url(../images/tablet.jpg) center center no-repeat;
}

.portfolio-list li span {
	position: absolute;
	box-sizing: border-box;
	bottom: 0;
	width: 210px;
	height: 52px;
	background-color: rgba(0,0,0,0.4)
}
.portfolio-list a {
	color: white;
	text-decoration: none;
	width: 105px;
	display: block;
	float: left;
}
.portfolio-list .sample-icon {
	float: right;
	padding-right: 5px;
}
